.estilo {

background-color: blue;
color:white;
position: relative;
top :250px;

}

.estilo2 {
    background-color: green;
    color:white;
    position: relative;
    top :250px;
    }

    .estilo3 {
        background-color: red;
        color:white;
        position: relative;
        top :250px;
        }