<div class=estilo>

{{empleado}}

</div>

<div class=estilo2>

    {{empleado2.nombre}}
    <br>
    {{empleado2.edad}}

 </div>

<br>

 <div *ngIf="condicion == true" class=estilo3>
        <button (click)="cambiarCondicion(false)">mostrar2</button>
        {{empleados3[1].nombre}}
    <li  *ngIf="empleados3[1].edad>20"  > MUESTRA  </li>
    <li  *ngIf="empleados3[1].edad<=20"  > NO MUESTRA  </li>
    <button (click)="aumentar()">AUMENTAR</button>
    <button (click)="disminuir()">DISMINUIR</button>
 </div>


 <div *ngIf="condicion == false"     class=estilo>
    <button (click)="cambiarCondicion(true)">mostrar1</button>
    {{empleados3[2].nombre}}
    {{empleados3[2].edad}}
    
 </div>

<h3>LISTADO</h3>
<div class="estilo2">
    <li *ngFor="let empleado of empleados3 ; let i=index">
        <h5>Empleado {{i+1}}: </h5>
        <ul>
               <li>{{empleado.nombre}}</li> 
               <li>{{empleado.edad}}</li> 
        </ul>

    </li>
</div>

<hr>

<div class="estilo">
    <ul>
    <h3>COLORES </h3>
        <ul [ngSwitch]="color" >
                <button (click)="cambiarColor('red')">Cambiar a rojo</button>
                <button (click)="cambiarColor('brown')">Cambiar a brown</button>
            <li *ngSwitchCase="'red'" [ngStyle]="{background:color}">ESo ROJO </li>
            <li *ngSwitchCase="'brown'"[ngStyle]="{background:color}">ES brown</li>
        </ul>
    </ul>
  
</div>


<div class="estilo3">
    <h3>PART TWO WAY DATA-BINDING</h3>
    <strong>color elegido en la clase:  </strong>
    <strong> <h2>{{color_seleccionado_clase}}</h2> </strong>
    <br>

    <input style="
    position:absolute;
    left:10px;
    " type="text" 
    [(ngModel)]="color_seleccionado_clase"/>


    <div [ngStyle]="{'background':color_seleccionado_clase,
                    'width':'200px',
                    'height':'200px',
                    'float':'right'
                    }">
    </div>

    <button (click)="log_valor_clase()">
            Boton para el log del color en clase
    </button>
</div>

<div class=estilo4>
                            
    <div [style.border]="
                    color_seleccionado_clase == 'red'?
                        '5px solid black':
                        '15px solid green'
                       ">
    
                       <h3 >NG_STYLE con input red funciona</h3>
    </div>   
</div>

<div class=estilo4>
        <h3 >Class</h3>
    <div [class.estilo2]=" color_seleccionado_clase == 'red' ">
        Class en atributo
        </div>   
</div>

<div class=estilo4>
        
    <div [ngClass]=" {
                    clase_css_colorVerde: color_seleccionado_clase == 'green',
                    clase_css_colorAmarillo: color_seleccionado_clase == 'yellow'  
                     }">
        <h3 >NG_CLASS   con green y yellow</h3>
      
        </div>   
</div>





